# Archivos o Directorios que nunca deberian ser subidos al repositorio de Github
**/.env 
.env
**/**/.env
# Archivos Ocultos que nunca deberian ser subidos a github
**/.* 
# entorno virtual para las dependencias necesarias
**/venv
**/.venv 
# Archivos temporales de python
**/__pycache__
# Agregen  con info