# Archivos o Directorios que nunca deberian ser subidos al repositorio de Github
**/.env 
.env
**/**/.env
# entorno virtual para las dependencias necesarias
**/venv
**/.venv 
# Archivos temporales de python
**/__pycache__
### Agregar Aqui Lo que falte

nohup.out

